<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block">
          <div class="card card-bordered">
            <div class="card-inner">
              <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                  <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title color-primary-text">
                      Configuración
                    </h3>
                  </div>
                </div>
              </div>
              <div class="row gy-4">
                <div class="col-md-12 col-lg-12 col-xxl-12">
                  <div class="form-group">
                    <label class="form-label"
                      >Correos para notificaciones de errores de envío de datos
                      maestros</label
                    >
                    <span
                      style="cursor: pointer; margin-left: 15px"
                      (click)="addElement()"
                      class="nk-menu-icon"
                    >
                      <em class="icon ni ni-plus-round"></em>
                    </span>
                    <!-- <div class="form-control-wrap">
                      <textarea
                        rows="1"
                        type="text"
                        placeholder="Nombre"
                        class="form-control"
                        [(ngModel)]="configMonitor.email"
                      >
                      {{ configMonitor.email }}
                      </textarea>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="row gy-4">
                <div
                  *ngFor="let item of emails; let i = index"
                  class="col-md-12 col-lg-3 col-xxl-3"
                >
                  <div class="form-group">
                    <div class="form-control-wrap">
                      <span
                        class="form-icon form-icon-right passcode-switch lg"
                        data-target="emailElement{i}"
                        style="cursor: pointer"
                        (click)="removeElement(i)"
                      >
                        <em
                          class="passcode-icon icon-show icon ni ni-trash-alt"
                        >
                        </em>
                      </span>
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        id="emailElement{i}"
                        maxlength="70"
                        placeholder="Ingrese un correo electrónico"
                        (change)="onChangeEmail($event, i)"
                        value="{{ item }}"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-2 col-xxl-2"></div>
              </div>
              <div class="row gy-4" style="text-align: right">
                <div class="col-lg-10"></div>

                <div class="col-lg-2" style="text-align: right">
                  <label class="form-label">&nbsp;</label>
                  <div class="form-group">
                    <button
                      (click)="saveConfig()"
                      type="button"
                      class="btn btn-primary"
                    >
                      Guardar Cambios
                    </button>
                  </div>
                </div>
              </div>
              <div class="nk-block-head nk-block-head-sm"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
