<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block">
          <div class="card card-bordered">
            <div class="card-inner">
              <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                  <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title color-primary-text">
                      Actualizar Usuario
                    </h3>
                  </div>
                </div>
              </div>
              <div class="row gy-4">
                <div class="col-md-6 col-lg-4 col-xxl-3">
                  <div class="form-group">
                    <label class="form-label">Nombre</label>
                    <div class="form-control-wrap">
                      <input
                        type="text"
                        placeholder="Nombre"
                        class="form-control"
                        [(ngModel)]="userUpdate.name"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                  <div class="form-group">
                    <label class="form-label">Usuario</label>
                    <div class="form-control-wrap">
                      <input
                        type="text"
                        placeholder="Usuario"
                        class="form-control"
                        [(ngModel)]="userUpdate.username"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-2">
                  <div class="form-group">
                    <label class="form-label">Perfil</label>
                    <div class="form-control-wrap">
                      <select
                        class="form-control"
                        [(ngModel)]="userUpdate.profileId"
                      >
                        <option value="0">Seleccionar perfil</option>
                        <option value="1">Administrador</option>
                        <option value="2">Usuario</option>
                        <!-- <option
                          *ngFor="let item of model.listNameTransaction"
                          [value]="item.type"
                        >
                          {{ item.description }}
                        </option> -->
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gy-4">
                <div class="col-md-6 col-lg-6 col-xxl-3">
                  <div class="form-group">
                    <label class="form-label">Correo</label>
                    <div class="form-control-wrap">
                      <input
                        type="text"
                        placeholder="Correo"
                        class="form-control"
                        [(ngModel)]="userUpdate.email"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-2">
                  <div class="form-group">
                    <label class="form-label">Estado</label>
                    <div class="form-control-wrap">
                      <select
                        class="form-control"
                        [(ngModel)]="userUpdate.state"
                      >
                        <option value="0">Activo</option>
                        <option value="1">Inactivo</option>
                        <!-- <option
                          *ngFor="let item of model.listNameTransaction"
                          [value]="item.type"
                        >
                          {{ item.description }}
                        </option> -->
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gy-4" style="text-align: right">
                <div class="col-lg-8"></div>
                <div class="col-lg-2">
                  <label class="form-label">&nbsp;</label>
                  <div class="form-group">
                    <button
                      (click)="goBack()"
                      type="button"
                      class="btn btn-secondary"
                    >
                      Cancelar
                    </button>
                  </div>
                </div>
                <div class="col-lg-2" style="text-align: right">
                  <label class="form-label">&nbsp;</label>
                  <div class="form-group">
                    <button
                      (click)="saveUser()"
                      type="button"
                      class="btn btn-primary"
                    >
                      Actualizar Usuario
                    </button>
                  </div>
                </div>
              </div>
              <div class="nk-block-head nk-block-head-sm"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading
  [show]="loading"
  [config]="{
    animationType: ngxLoadingAnimationTypes.circleSwish,
    primaryColour: primaryColour,
    backdropBorderRadius: '3px'
  }"
></ngx-loading>
