<div class="nk-app-root">
    <div class="nk-main ">
      <div class="nk-sidebar nk-sidebar-fixed is-red" data-content="sidebarMenu">
        <div class="nk-sidebar-element nk-sidebar-head">
          <!-- <div class="nk-menu-trigger">
              <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
              <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
          </div> -->
          <div class="nk-sidebar-brand">
              <a routerLink="/" class="logo-link nk-sidebar-logo" style="text-align: center;">
                  <!-- <img class="logo-light logo-img" src="../../assets/images/logo.png" srcset="./images/logo2x.png 2x" alt="logo"> -->
                  <img class="logo-dark logo-img" src="../../assets/images/logo_farmacias.png">
              </a>
          </div>
        </div>
        <div class="nk-sidebar-element nk-sidebar-body">
          <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
              <ul class="nk-menu">
                <li *ngFor="let menuItem of model.menu.dashboard.items" [routerLinkActive]="['active']" class="nk-menu-item">
                  <a routerLink="{{menuItem.url}}" class="nk-menu-link">
                      <span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span>
                      <span class="nk-menu-text">{{menuItem.name}}</span>
                  </a>
                </li>
                <li *ngFor="let menuItem of model.menu.transacciones.items" [routerLinkActive]="['active']" class="nk-menu-item">
                  <a routerLink="{{menuItem.url}}" class="nk-menu-link">
                      <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                      <span class="nk-menu-text">{{menuItem.name}}</span>
                  </a>
                </li>
                <li *ngFor="let menuItem of model.menu.dataMaestra.items" [routerLinkActive]="['active']" class="nk-menu-item">
                    <a routerLink="{{menuItem.url}}" class="nk-menu-link">
                      <span class="nk-menu-icon"><em class="icon ni ni-table-view"></em></span>
                      <span class="nk-menu-text">{{menuItem.name}}</span>
                    </a>
                      
                    <!-- <a href="html/hotel/index.html" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-table-view"></em></span>
                        <span class="nk-menu-text">Data Maestra</span>
                    </a> -->
                </li>
                <li class="nk-menu-item">
                    <a routerLink="/" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-setting-alt-fill"></em></span>
                        <span class="nk-menu-text">Configuración</span>
                    </a>
                </li>
                <li class="nk-menu-item">
                    <a routerLink="/" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                        <span class="nk-menu-text">Usuarios</span>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-wrap">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      
    </div>
</div>
