<div class="nk-content ">
    <div class="container-fluid" style="    margin-bottom: 30px;">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="nk-block-title page-title color-primary-text">Transacciones del mes</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-inner">                             
                                            <div class="card-title-group">                                                          
                                              <div class="row" style="width: 100%;">
                                                    <div class="col-6">
                                                        <div>
                                                            <div style="text-align: center;margin-bottom: 10px;">
                                                                <span> <b style="font-size: 18px; color: #000000;">Datos Maestros</b></span>
                                                            </div>
                                                            <div style="display: flex; width: 100%; justify-content: space-evenly;">
                                                                <div class="sqare-green">
                                                                    <span style="
                                                                    font-family: Gotham;
                                                                    font-style: normal;
                                                                    font-weight: bolder;
                                                                    font-size: 40px;
                                                                    line-height: 49px;
                                                                    color: #1B5E20;
                                                                    ">{{dataTransaction.cantMaestroCorrecto}}</span>
                                                                    <span style="color: #1B5E20; font-weight: 100;">
                                                                        Exitosas                                                                       
                                                                    </span>
                                                                </div>
                                                                <div class="sqare-red">
                                                                    <span style="
                                                                    font-family: Gotham;
                                                                    font-style: normal;
                                                                    font-weight: bolder;
                                                                    font-size: 40px;
                                                                    line-height: 49px;
                                                                    color: #C62828
;
                                                                    ">{{dataTransaction.cantMaestroFallido}}</span>
                                                                    <span style="color: #C62828; font-weight: 100;">
                                                                        Fallidas                                                                       
                                                                    </span>
                                                                </div>
                                                            </div>
                                                      
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div>
                                                            <div style="text-align: center;margin-bottom: 10px;">
                                                                <span> <b style="font-size: 18px;color: #000000;">Movimiento de Almacén LI</b> </span>
                                                            </div>
                                                            <div style="display: flex; width: 100%; justify-content: space-evenly;">
                                                                <div class="sqare-green">
                                                                    <span style="
                                                                    font-family: Gotham;
                                                                    font-style: normal;
                                                                    font-weight: bolder;
                                                                    font-size: 40px;
                                                                    line-height: 49px;
                                                                    color: #1B5E20;
                                                                    ">{{dataTransaction.cantTransactionCorrecto}}</span>
                                                                    <span style="color: #1B5E20;    font-weight: 100;">
                                                                        Exitosas                                                                       
                                                                    </span>
                                                                </div>
                                                                <div class="sqare-red">
                                                                    <span style="
                                                                    font-family: Gotham;
                                                                    font-style: normal;
                                                                    font-weight: bolder;
                                                                    font-size: 40px;
                                                                    line-height: 49px;
                                                                    color: #C62828
;
                                                                    ">{{dataTransaction.cantTransactionFallido}}</span>
                                                                    <span style="color: #C62828;    font-weight: 100;">
                                                                        Fallidas                                                                       
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                              </div>                                          
                                                
                                            </div>                                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3 class="nk-block-title page-title color-primary-text">Transacciones</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-inner">     
                                            <div class="card-title-group">
                                                <div class="row">
                                                    <canvas baseChart
                                                        [data]="doughnutChartData"

                                                        [type]="doughnutChartType">
                                                    </canvas>
                                                </div>
                                            </div>                                                                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                
                    </div>    
                </div>               
                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="nk-content-inner">
<div class="nk-content-body">
    <div class="nl-block">
        <div class="card">
            <div class="card-inner">
                <div class="nk-block-head nk-block-head-sm" style="margin-top: 20px;">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title color-primary-text">Transacciones recientes</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="tb-tnx-head">
                                <th style="text-align: center;" scope="col">Identificador</th>
                                <th style="text-align: center;">
                                    <!-- <span class="tb-tnx-total" >Transacción</span> -->
                                    Transacción
                                </th>
                                <th style="text-align: center;">
                                    Estado
                                    <!-- <span class="tb-tnx-total">
                                        <span></span>
                                    </span> -->
                                </th>
                                <th style="text-align: center;" >
                                    <!-- <span class="tb-tnx-total">Fecha y Hora</span> -->
                                    Fecha y Hora
                                </th>
                                <th style="text-align: center;" >
                                    <!-- <span class="tb-tnx-total"></span> -->
                                    Acciones
                                </th>
                            </tr><!-- tb-tnx-item -->
                        </thead>
                        <tbody>
                            <tr class="tb-tnx-item" *ngFor="let items of model.listTransaction; let i = index">
                                <td style="text-align: center;">
                                    <span>{{items.identTransaction}}</span>
                                </td>
                                <td class="tb-tnx-info" style="text-align: center;">
                                    <span class="title">{{items.nameTransaction}}</span>
                                </td>
                                <td class="tb-tnx-info" style="text-align: center;">
                                    <span class="amount">{{items.estado}}</span>
                                </td>
                                <td class="tb-tnx-info" style="text-align: center;">
                                    <span class="amount">{{items.fechaTransaccion}}</span>
                                </td>
                                <td class="tb-tnx-amount" style="text-align: center;">
                                    <div class="tb-tnx-total"> 
                                        <img src="../../assets/images/Visualizar.svg" style="width: 25px; cursor: pointer;" (click)="detailTransaction(items.idTran)">                                      
                                    </div>
                                    
                                </td>
                            </tr><!-- tb-tnx-item -->
                        
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
        </div>


    </div>
</div>