<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title color-primary-text" >Data Maestra</h3>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="tb-tnx-head">
                                        <th class="tb-tnx-id" style="text-align: center;">Transacción</th>
                                        
                                        <th  style="text-align: center;">
                                            Tipo
                                        </th>
                                        
                                        <th style="text-align: center;">
                                            <span class="tb-tnx-desc d-none d-sm-inline-block">
                                                Cantidad Transacciones
                                            </span>
                                        </th>
                                        <th  style="text-align: center;">
                                            Ultima Ejecución
                                        </th>
                                        <th  style="text-align: center;">
                                            Tarea Programada
                                        </th>
                                        <th  style="text-align: center;">
                                            Intervalo de tiempo
                                        </th>
                                        <th  style="text-align: center;">
                                            Acciones
                                        </th>
                                        
                                    </tr><!-- tb-tnx-item -->
                                </thead>
                                <tbody>
                                    <tr class="tb-tnx-item" *ngFor="let items of model.listDataMaestra; let i = index">
                                        <td style="text-align: center;">
                                            <span>{{items.nameTransaccion}}</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <div >
                                                <span class="title">{{items.typeTransaction}}</span>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div >
                                                <span class="title">{{items.cantTransacciones}}</span>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div >
                                                <span class="amount">{{items.ultimaEjecucion}}</span>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div >
                                                <span class="amount">{{items.cronExpression | cronTransform }}</span>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div >
                                                <span class="amount">{{items.taskState | programState }}</span>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <img src="../../assets/images/ejecutar.svg" style="width: 20px; cursor: pointer; margin-right: 20px;" (click)="sendProvider(items.codeTransaction)">                                                                                      
                                            <img src="../../assets/images/Editar.svg" style="width: 20px; cursor: pointer;" (click)="openModal(template, items.codeTransaction, items.nameTransaccion, items.taskState)">                                                                            
                                        </td>
                                    </tr><!-- tb-tnx-item -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Programación para el proceso : {{masterTransactionName}} </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">        
        <form class="form-validate">
            <div class="row g-gs">       
                <div class="col-md-6">
                    <div class="form-group">
                      
                        <div class="form-control-wrap ">
                            <!-- <p></p> -->
                            <!-- <select class="form-control form-select" [(ngModel)]="timeProcces" id="fv-topics" name="fv-topics" data-placeholder="Seleccione una opción" required>                           
                                <option selected [ngValue] ="1">Cada 1 minuto</option>
                                <option [ngValue] ="5">Cada 5 minutos</option>
                                <option [ngValue] ="10">Cada 10 minutos</option>
                                <option [ngValue] ="30">Cada 30 minutos</option>
                            </select> -->
                            <!-- <div class="form-group">
                                <label class="form-label">Cada día a las</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control time-picker" placeholder="Input placeholder">
                                </div>
                            </div> -->
                           
                        </div>
                          <label class="form-label" for="fv-topics">Cada día a las :</label>
                        <timepicker id="timepickerId" name="timepickerId" [(ngModel)]="timeProcces" [showMeridian]="false"></timepicker>                      
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="isActivated" class="custom-control-input" id="test" name="test">
                            <label class="custom-control-label" for="test">Habilitado</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="text-align: right;">
                        <button type="button" (click)="sendMasterProcess()" class="btn btn-dim btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>